@charset "UTF-8";
.colorVerde {
  background-color: green;
}

.colorNegro {
  background-color: rgb(6, 25, 31);
}

.grilla {
  display: grid;
  grid-template-areas: "header" "nav" "texto" "imag" "publi" "footer";
}
.grilla header {
  grid-area: header;
}
.grilla footer {
  grid-area: footer;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(22, 49, 60);
}
.grilla nav {
  grid-area: nav;
}
.grilla .texto {
  grid-area: texto;
  font-size: 150%;
}
.grilla .imag {
  grid-area: imag;
  margin: 0px;
}
.grilla .publi {
  grid-area: publi;
}

@media screen and (min-width: 1024px) {
  .grilla {
    display: grid;
    grid-template-areas: "titulo nav nav" "grilla_2 grilla_2 grilla_2";
  }

  .grilla_2 {
    grid-area: grilla_2;
    display: grid;
    grid-template-areas: "texto imag publi";
  }

  .titulo {
    grid-area: titulo;
    margin: 1rem;
    margin-right: 35rem;
  }

  .texto {
    grid-area: texto;
  }

  .imag {
    grid-area: imag;
  }

  .publi {
    grid-area: publi;
  }

  footer {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(22, 49, 60);
  }

  nav {
    grid-area: nav;
    align-self: end;
  }
}
.navColor {
  background-color: rgb(14, 64, 83);
  color: rgb(223, 186, 66);
  border-bottom: solid 2px #dfba42;
  border-top: solid 2px rgb(223, 186, 66);
}
.navColor li {
  border-bottom: solid 2px rgb(223, 186, 66);
}

.navColor1 {
  background-color: rgb(14, 64, 83);
  color: rgb(223, 186, 66);
}

a {
  color: rgb(223, 186, 66);
}

body {
  position: relative;
  background-color: rgb(14, 64, 83);
  color: rgb(223, 186, 66);
  margin: 0;
}

.colorNegro {
  width: auto;
  height: auto;
  padding: 10px;
}

footer {
  background-color: rgb(22, 49, 60);
}

.colorVerde {
  position: absolute;
  width: 80px;
  top: 0;
  right: 0;
}

.descontado {
  color: rgb(255, 219, 100);
  text-decoration: line-through;
}

.card1 {
  background-color: rgb(0, 0, 0);
  border: solid 2px rgb(223, 186, 66);
}

.borde {
  border: solid 2px rgb(223, 186, 66);
}

.bottomCancelar:hover {
  background-color: rgb(169, 40, 40);
}

.bottomAceptar:hover {
  background-color: rgb(22, 103, 22);
}

.flexLogo {
  display: flex;
  align-items: flex-end;
}

.flexTabla {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .flexCard {
    display: flex;
  }

  .flexTabla {
    display: flex;
    flex-direction: row;
  }
}
.imagenLogo {
  width: 3rem;
  margin-left: 10px;
}

.margen {
  margin: 2%;
}

.imagenInicial {
  height: 17rem;
  width: 27rem;
  margin: 10px;
}

.imagenHistoria {
  height: 40rem;
  width: 27rem;
  margin: 30px;
}

.tamañoImagen {
  margin-left: 7rem;
  height: 17rem;
  width: 13rem;
}

.tabla {
  margin: 10px;
}

.card1 {
  height: 30rem;
  width: 27rem;
  padding: 2rem;
  margin: 1rem;
  position: relative;
  transition: all 0.5s;
}
.card1 img {
  height: 15rem;
  width: 13rem;
  display: block;
  margin: 0 auto;
  padding: 20px 20px;
  border: solid 2px grey;
  transition: all 0.5s;
}
.card1:hover {
  height: 33rem;
}
.card1:hover img {
  height: 17rem;
  width: 15rem;
}

.inputA {
  height: 2rem;
  width: 15rem;
  transition: height 0.5s, width 0.5s;
}
.inputA:hover {
  height: 2rem;
  width: 17rem;
}

.textAni {
  height: 10rem;
  width: 17rem;
  transition: height 0.5s, width 0.5s;
}
.textAni:hover {
  height: 15rem;
  width: 20rem;
}

.bottom, .bottomCancelar, .bottomAceptar {
  height: 2rem;
  width: 10rem;
  transition: all 0.5s;
}
.bottom:hover, .bottomCancelar:hover, .bottomAceptar:hover {
  height: 3rem;
  width: 12rem;
}

@media screen and (min-width: 1024px) {
  .navColor {
    border: none;
  }
  .navColor li {
    border-bottom: none;
    border-left: solid 2px rgb(223, 186, 66);
  }

  .navEnd {
    border-right: solid 2px rgb(223, 186, 66);
  }

  .card1 {
    background-color: rgb(0, 0, 0);
    height: 30rem;
    width: 20rem;
    padding: 10px;
    margin: 20px;
    position: relative;
    border: solid 2px rgb(223, 186, 66);
    transition: all 0.5s;
  }
  .card1 img {
    height: 15rem;
    width: 12rem;
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    border: solid 2px grey;
    transition: all 0.5s;
  }
  .card1:hover {
    height: 35rem;
    width: 23rem;
  }
  .card1:hover img {
    height: 17rem;
    width: 14rem;
  }

  .flechaImg {
    width: 50px;
  }

  .subMenu li {
    padding: 5px;
    border-bottom: solid 2px rgb(223, 186, 66);
    border-left: none;
  }

  .imagenInicial {
    height: 17rem;
    width: 30rem;
  }

  .tamañoImagen {
    height: 14rem;
    width: 10rem;
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
