@charset "UTF-8";
.colorVerde {
  background-color: green;
}

.colorNegro {
  background-color: rgb(6, 25, 31);
}

.grilla {
  display: grid;
  grid-template-areas: "header" "nav" "texto" "imag" "publi" "footer";
}
.grilla header {
  grid-area: header;
}
.grilla footer {
  grid-area: footer;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(22, 49, 60);
}
.grilla nav {
  grid-area: nav;
}
.grilla .texto {
  grid-area: texto;
  font-size: 150%;
}
.grilla .imag {
  grid-area: imag;
  margin: 0px;
}
.grilla .publi {
  grid-area: publi;
}

@media screen and (min-width: 1024px) {
  .grilla {
    display: grid none;
    grid-template-areas: "titulo nav nav" "grilla_2 grilla_2 grilla_2";
    justify-content: space-between;
  }

  .grilla_2 {
    grid-area: grilla_2;
    display: grid;
    grid-template-areas: "texto imag publi";
  }

  .titulo {
    grid-area: titulo;
    margin: 1rem;
  }

  .texto {
    grid-area: texto;
  }

  .imag {
    grid-area: imag;
  }

  .publi {
    grid-area: publi;
  }

  footer {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(22, 49, 60);
  }

  nav {
    grid-area: nav;
    align-self: end;
  }
}
@media screen and (min-width: 1245px) {
  .grilla {
    display: grid;
    grid-template-areas: "titulo nav nav" "grilla_2 grilla_2 grilla_2";
    justify-content: start;
  }

  .grilla_2 {
    grid-area: grilla_2;
    display: grid;
    grid-template-areas: "texto imag publi";
  }

  .titulo {
    grid-area: titulo;
    margin: 1rem;
    margin-right: 33rem;
  }

  .texto {
    grid-area: texto;
  }

  .imag {
    grid-area: imag;
  }

  .publi {
    grid-area: publi;
  }

  footer {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(22, 49, 60);
  }

  nav {
    grid-area: nav;
    align-self: end;
  }
}
.navColor {
  background-color: rgb(14, 64, 83);
  color: rgb(223, 186, 66);
  border-bottom: solid 2px #dfba42;
  border-top: solid 2px rgb(223, 186, 66);
}
.navColor li {
  border-bottom: solid 2px rgb(223, 186, 66);
}

.navColor1 {
  background-color: rgb(14, 64, 83);
  color: rgb(223, 186, 66);
}

a {
  color: rgb(223, 186, 66);
}

body {
  position: relative;
  background-color: rgb(14, 64, 83);
  color: rgb(223, 186, 66);
}

.colorNegro {
  width: auto;
  height: auto;
  padding: 0.5rem;
  margin: 0.3rem;
}

footer {
  padding: 1rem;
  background-color: rgb(22, 49, 60);
  height: 15rem;
  margin-bottom: 0px;
}

.colorVerde {
  position: absolute;
  width: 80px;
  top: 0;
  right: 0;
}

.descontado {
  color: rgb(255, 219, 100);
  text-decoration: line-through;
}

.card1 {
  background-color: rgb(0, 0, 0);
  border: solid 2px rgb(223, 186, 66);
}

.borde {
  border: solid 2px rgb(223, 186, 66);
}

.bottomCancelar:hover {
  background-color: rgb(169, 40, 40);
}

.bottomAceptar:hover {
  background-color: rgb(22, 103, 22);
}

@media screen and (min-width: 1024px) {
  .colorNegro {
    width: auto;
    height: auto;
    padding: 1rem;
    margin: 1rem;
  }
}
.flexLogo {
  display: flex;
  align-items: flex-end;
}

.flexTabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .flexCard {
    display: flex;
  }

  .flexTabla {
    display: flex;
    flex-direction: row;
  }
}
.imagenLogo {
  width: 3rem;
  margin-left: 10px;
}

.margen {
  margin: 2%;
}

.margen_contacto {
  margin: 0, 5rem;
  margin-top: 2rem;
}

.padding {
  padding: 1rem;
}

/* tamaño de imagenes */
.imag_Contenedor {
  height: 12rem;
  text-align: center;
}
.imag_Contenedor img {
  height: 11rem;
  width: 14rem;
}

.imag_Contenedor1 {
  height: 20rem;
  text-align: center;
}
.imag_Contenedor1 img {
  height: 15rem;
  width: 12rem;
  margin: 30px;
}

.imag_Contenedor2 {
  text-align: center;
}
.imag_Contenedor2 img {
  height: 14rem;
  width: 10rem;
}

/* tamaño de imagenes */
/* marco e imagenes de los juegos */
.contenedor {
  text-align: center;
}

.card1 {
  height: 32rem;
  width: 14rem;
  padding: 2rem;
  margin: 1rem;
  position: relative;
  transition: all 0.5s;
}
.card1 img {
  height: 12rem;
  width: 10rem;
  display: block;
  margin: 0 auto;
  padding: 20px 20px;
  border: solid 2px grey;
  transition: all 0.5s;
}
.card1:hover {
  height: 34rem;
}
.card1:hover img {
  height: 14rem;
  width: 10.5rem;
}

/*fin de marco e imagenes de los juegos */
/* animaciones */
.inputA {
  height: 2rem;
  width: 14rem;
  transition: height 0.5s, width 0.5s;
}
.inputA:hover {
  height: 2rem;
  width: 15rem;
}

.textAni {
  height: 10rem;
  width: 14rem;
  transition: height 0.5s, width 0.5s;
}
.textAni:hover {
  height: 15rem;
  width: 15rem;
}

.bottom, .bottomCancelar, .bottomAceptar {
  height: 2rem;
  width: 10rem;
  transition: all 0.5s;
}
.bottom:hover, .bottomCancelar:hover, .bottomAceptar:hover {
  height: 3rem;
  width: 12rem;
}

.dropdown-item1 {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.subMenu a {
  padding: 5px;
  border-top: solid 2px rgb(223, 186, 66);
  border-left: none;
}

.borderBottom {
  border-bottom: solid 2px rgb(223, 186, 66);
}

@media screen and (min-width: 600px) {
  .card1 {
    height: 30rem;
    width: 27rem;
    padding: 2rem;
    margin: 1rem;
    position: relative;
    transition: all 0.5s;
  }
  .card1 img {
    height: 15rem;
    width: 13rem;
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    border: solid 2px grey;
    transition: all 0.5s;
  }
  .card1:hover {
    height: 33rem;
  }
  .card1:hover img {
    height: 17rem;
    width: 15rem;
  }
}
@media screen and (min-width: 1024px) {
  /* modificaciones del menu */
  .navColor {
    border: none;
  }
  .navColor li {
    border-bottom: none;
    border-left: solid 2px rgb(223, 186, 66);
  }

  .navEnd {
    border-right: solid 2px rgb(223, 186, 66);
  }

  .flechaImg {
    width: 50px;
  }

  /* fin del menu */
  .tabla {
    margin: 10px;
  }

  /* marco e imagenes de los juegos */
  .card1 {
    background-color: rgb(0, 0, 0);
    height: 30rem;
    width: 20rem;
    padding: 10px;
    margin: 20px;
    position: relative;
    border: solid 2px rgb(223, 186, 66);
    transition: all 0.5s;
  }
  .card1 img {
    height: 15rem;
    width: 12rem;
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    border: solid 2px grey;
    transition: all 0.5s;
  }
  .card1:hover {
    height: 35rem;
    width: 23rem;
  }
  .card1:hover img {
    height: 17rem;
    width: 14rem;
  }

  /*fin de marco e imagenes de los juegos */
  /* animaciones */
  .imag_Contenedor {
    height: 12rem;
    text-align: center;
  }
  .imag_Contenedor img {
    height: 17rem;
    width: 30rem;
  }

  .imag_Contenedor1 {
    height: 35rem;
    text-align: center;
  }
  .imag_Contenedor1 img {
    height: 33rem;
    width: 23rem;
    margin: 30px;
  }

  .imag_Contenedor2 {
    text-align: center;
  }
  .imag_Contenedor2 img {
    height: 14rem;
    width: 10rem;
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
