.grilla {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "texto"
    "imag"
    "publi"
    "footer";
}


header {
    grid-area: header;
    
}
footer {
    grid-area: footer;  
        right: 0;bottom:0;left:0;
        background-color: rgb(22, 49, 60);
}
nav {
    grid-area: nav;
}
.texto {
    grid-area: texto;
    font-size: 150%;
}
.imag {
    grid-area: imag; 

}
.publi {
    grid-area: publi;
}

.flechaImg {
    width: 50px;
}
.flecha li {
    display: block;
}
.flecha li:hover .menu {
    display: none;
}

.flecha .menu {
    display: none;
    position: absolute;
}
.flecha:hover > .menu {
    display: block;
}
.menu{
    list-style: none;
    font-size:0;
    text-align: right;
    
}

.menu li {
    border-left:solid 2px rgb(223, 186, 66) ;
    background-color:rgb(14, 64, 83) ;
    text-align: center; 
    display: inline-block;
    position:relative;
    width: 100%;
    font-size: 25px;
}
.subMenu {
    position: absolute;
    display: none;
    
}
.subMenu li {
    background-color:rgb(30, 63, 75) ;
    border-left:none;
    border-radius: 5px;
    border-top:solid 2px rgb(223, 186, 66) ;
    display: block;
    width:100%;
    padding: 10px;
    text-align: left;
}
.menu li:hover .subMenu {
    display: block;
}




a {
color:rgb(223, 186, 66);
}
.flexLogo {
    display: flex;
    align-items: flex-end;
}
.imagenLogo {
    width: 10%;
    margin-left: 10px;
}
body {
    position: relative;
    background-color: rgb(14, 64, 83);
    color: rgb(223, 186, 66);
    margin: 0;
}
.colorNegro {
    background-color: rgb(6, 25, 31);
    width: auto;
    height: auto;
    padding: 10px;
}
.margen {
    margin: 2%;
}
.imagenInicial {
    width: 450px;
    margin: 30px;
}

.imagenHistoria {
    width: 300px;
    margin: 30px;
}

.card1 {
    background-color: rgb(0, 0, 0);
    
    height: 85%;
    padding: 10px;
    margin: 20px;
    position: relative;
    border: solid 2px rgb(223, 186, 66) ;
}

.card1 img {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    border: solid 2px grey;
}
.fondoVerde { 
    background-color: green;
    position: absolute;
    width: 80px;  
    top: 0;
    right: 0;
}

.descontado {
    color:rgb(255, 219, 100) ;
    text-decoration: line-through;
}

@media screen and (min-width:1024px) {
    
    .grilla {
        display: grid;
        grid-template-areas:
        "header nav nav"
        "grilla_2 grilla_2 grilla_2";
        grid-template-rows: 2fr 7fr  2fr;
        grid-template-columns: 40% auto 20%;
        
    }
    
    .grilla_2 {
        grid-area: grilla_2;
        display: grid;
        grid-template-areas: 
        "texto imag publi";
    }
    
    header {
        grid-area: header;
        margin-bottom: 5%;
        padding: 10px;
    }
    footer {
        position: absolute;
        right: 0;bottom:0;left:0;
        background-color: rgb(22, 49, 60);
    }
    nav {
        grid-area: nav;
        align-self: end;
        margin-bottom: 5%;
    }
    .texto {
        grid-area: texto;
    }
    .imag {
        grid-area: imag; 
    }
    .publi {
        grid-area: publi;
    }
    .card1 {
        background-color: rgb(0, 0, 0);
        width: 20%;
        height: 85%;
        padding: 10px;
        margin: 20px;
        position: relative;
        border: solid 2px rgb(223, 186, 66) ;
    }
    
    .card1 img {
        width: 150px;
        display: block;
        margin: 0 auto;
        padding: 20px 20px;
        border: solid 2px grey;
    }
    
    .flexCard {
        display: flex;
    }
    
    .fondoVerde { 
        background-color: green;
        position: absolute;
        width: 80px;  
        top: 0;
        right: 0;
    }
    
    .descontado {
        color:rgb(255, 219, 100) ;
        text-decoration: line-through;
    }

    .tabla {
        width: 100%;
        height: 70%;
        margin: 1%;
    }
    .borde {
        border: solid 2px rgb(223, 186, 66) ;  
    }
    
    .flexTabla {
        display: flex;
    }

    .flechaImg {
    width: 50px;
}
.flecha li {
    display: block;
}
.flecha li:hover .menu {
    display: none;
}

.flecha .menu {
    display: none;
    position: absolute;
}
.flecha:hover > .menu {
    display: block;
}

    .menu{
    list-style: none;
    font-size:0;
    text-align: right;
    
}

.menu li {
    border-left:solid 2px rgb(223, 186, 66) ;
    background-color:rgb(14, 64, 83) ;
    text-align: center; 
    display: inline-block;
    width: 120px;
    position:relative;
    font-size: 25px;
}
.subMenu {
    position: absolute;
    display: none;
    
}
.subMenu li {
    background-color:rgb(30, 63, 75) ;
    border-left:none;
    border-radius: 5px;
    border-top:solid 2px rgb(223, 186, 66) ;
    display: block;
    width:100%;
    padding: 10px;
    text-align: left;
}
.menu li:hover .subMenu {
    display: block;
}
}