.navColor {
    background-color: $color-background;
    color: $color;
    border-bottom: solid 2px #dfba42 ;
    border-top: solid 2px $color;

    li { 
        border-bottom: solid 2px $color;
    }
    
}
.navColor1 {
    background-color: $color-background;
    color: $color;
}

a {
    color:$color;
    }

body {
    position: relative;
    background-color: $color-background;
    color: $color;
    
}
.colorNegro {
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin: 0.3rem;

}

footer {
        padding: 1rem;
        background-color: rgb(22, 49, 60);
        height: 15rem;
        margin-bottom: 0px;
}

.colorVerde { 
    position: absolute;
    width: 80px;  
    top: 0;
    right: 0;
}

.descontado {
    color:rgb(255, 219, 100) ;
    text-decoration: line-through;
}

.card1 {
    background-color: rgb(0, 0, 0);
    border: solid 2px $color;
}

.borde {
    border: solid 2px $color; 
}


.bottomCancelar {
    @extend .bottom;

    &:hover {
        background-color: rgb(169, 40, 40);
    }
}

.bottomAceptar {
    @extend .bottom; 

    &:hover{ 
        background-color: rgb(22, 103, 22);
    }
}

@media screen and (min-width:1024px) {
    .colorNegro {
        width: auto;
        height: auto;
        padding: 1rem;
        margin: 1rem;
    }

}