.navColor {
    background-color: $color-background;
    color: $color;
    border-bottom: solid 2px #dfba42 ;
    border-top: solid 2px $color;

    li { 
        border-bottom: solid 2px $color;
    }
    
}
.navColor1 {
    background-color: $color-background;
    color: $color;
}

a {
    color:$color;
    }

body {
    position: relative;
    background-color: $color-background;
    color: $color;
    margin: 0;
}
.colorNegro {
    background-color: rgb(6, 25, 31);
    width: auto;
    height: auto;
    padding: 10px;

}

footer {
        background-color: rgb(22, 49, 60);
}

.fondoVerde { 
    background-color: green;
    position: absolute;
    width: 80px;  
    top: 0;
    right: 0;
}

.descontado {
    color:rgb(255, 219, 100) ;
    text-decoration: line-through;
}

.card1 {
    background-color: rgb(0, 0, 0);
    border: solid 2px $color;
}

.borde {
    border: solid 2px $color; 
}


@media screen and (min-width:1024px) {

}