@import "variables";
@import "grilla";
@import "colores";
@import "flex";

.imagenLogo {
    width: 3rem;
    margin-left: 10px;
}

.margen {
    margin: 2%;
}

/* tama単o de imagenes */
.imagenInicial {
    @include sizes(27rem,17rem);
    margin: 10px;
}

.imagenHistoria {
    @include sizes(27rem,40rem);
    margin: 30px;
}

.tama単oImagen {
    margin-left: 7rem;
    @include sizes(13rem,17rem);
}

/* tama単o de imagenes */

.tabla {
    margin: 10px;
}

/* marco e imagenes de los juegos */
.card1 {
    @include sizes(27rem,30rem);
    padding: 2rem;
    margin: 1rem;
    position: relative;
    transition: all 0.5s;
    
    img {
        @include sizes(13rem,15rem);
        display: block;
        margin: 0 auto;
        padding: 20px 20px;
        border: solid 2px grey;
        transition: all 0.5s;
    }

    &:hover  {
        height: 33rem;
        img {
            @include sizes(15rem,17rem);
            
        }
    }
    
}
/*fin de marco e imagenes de los juegos */

/* animaciones */
.inputA {
    @include sizes(15rem,2rem);
    transition: height 0.5s, width 0.5s;

    &:hover {
        @include sizes(17rem,2rem);
    }
}

.textAni {
    @include sizes(17rem,10rem);
    transition: height 0.5s, width 0.5s;

    &:hover {
        @include sizes(20rem,15rem);
    }
}

.bottom {
    @include sizes(10rem,2rem);
    transition:all 0.5s;
    &:hover {
        @include sizes(12rem,3rem);
    }
}





@media screen and (min-width:1024px) {
/* modificaciones del menu */
    .navColor {
        border: none;

        li {
            border-bottom: none;
            border-left:solid 2px $color ;
        }

    }
    .navEnd {
        border-right:solid 2px $color;
    }
    .flechaImg {
        width: 50px;
    }
    
    .subMenu {
        li {
            padding: 5px;
            border-bottom:solid 2px $color;
            border-left: none; 
        }
    }
/* fin del menu */

    /* marco e imagenes de los juegos */
    .card1 {
        background-color: rgb(0, 0, 0);
        @include sizes(20rem,30rem);
        padding: 10px;
        margin: 20px;
        position: relative;
        border: solid 2px $color;
        transition: all 0.5s;

        img {
            @include sizes(12rem,15rem);
            display: block;
            margin: 0 auto;
            padding: 20px 20px;
            border: solid 2px grey;
            transition: all 0.5s;
        }

        &:hover  {
            @include sizes(23rem,35rem);


            img {
                @include sizes(14rem,17rem);
            }
        }
        
    }
/*fin de marco e imagenes de los juegos */    

/* animaciones */
    .imagenInicial {
        @include sizes(30rem,17rem)
    }

    .tama単oImagen {
        @include sizes(10rem,14rem);
        margin: 10px;
    }
}