@import "variables";
@import "grilla";
@import "colores";
@import "flex";

.imagenLogo {
    width: 10%;
    margin-left: 10px;
}

.margen {
    margin: 2%;
}

.imagenInicial {
    width: 450px;
    margin: 30px;
}

.imagenHistoria {
    width: 300px;
    margin: 30px;
}

.tamañoImagen {
    margin-left: 60px ;
    width: 300px    ;
}

.tabla {
    margin: 10px;
}

.card1 {
    height: 400px;
    padding: 10px;
    margin: 20px;
    position: relative;
    transition: all 0.5s;

    &:hover  {
        height: 550px;
    
    }

    img {
        width: 150px;
        display: block;
        margin: 0 auto;
        padding: 20px 20px;
        border: solid 2px grey;
        transition: all 0.5s;

        &:hover {
            width: 200px;
        
        }
    }
}

.inputA {
    height: 30px;
    width: 150px;
    transition: height 0.5s, width 0.5s;

    &:hover {
        height: 35px;
        width: 190px;
    }
}

.textAni {
    height: 100px;
    width: 220px;
    transition: height 0.5s, width 0.5s;

    &:hover {
        height: 150px;
        width: 250px;
    }
}






@media screen and (min-width:1024px) {
    .navColor {
        border: none;

        li {
            border-bottom: none;
            border-left:solid 2px $color ;
        }
    }
    .card1 {
        background-color: rgb(0, 0, 0);
        width: 300px;
        height: 400px;
        padding: 10px;
        margin: 20px;
        position: relative;
        border: solid 2px $color;
        transition: all 0.5s;

        &:hover  {
            height: 550px;
            width: 350px;
        }
        img {
            width: 150px;
            display: block;
            margin: 0 auto;
            padding: 20px 20px;
            border: solid 2px grey;
            transition: all 0.5s;

            &:hover {
                width: 200px;
        
            }
        }
        
    }

    .flechaImg {
        width: 50px;
    }

    .subMenu {
        li {
            padding: 5px;
            border-bottom:solid 2px $color;
            border-left: none; 
        }
    }

    .tamañoImagen {
        width: 10rem;
        height: 14rem;
        margin: 10px;
    }
}