@import "variables";
@import "grilla";
@import "colores";
@import "flex";

.imagenLogo {
    width: 3rem;
    margin-left: 10px;
}

.margen {
    margin: 2%;
}

.padding{
    padding: 1rem;
}

/* tamaño de imagenes */
.imag_Contenedor {
    height: 12rem;
    text-align: center;
    img {
        @include sizes(14rem,11rem);
    }
}

.imag_Contenedor1 {
    height: 20rem;
    text-align: center;
    img {
        @include sizes(12rem,15rem);
        margin: 30px;
    }
}
.imag_Contenedor2 {
    text-align: center;
    img {
        @include sizes(10rem,14rem);
    }
}

/* tamaño de imagenes */



/* marco e imagenes de los juegos */
.contenedor {
    text-align: center;
}
.card1 {
    @include sizes(14rem,32rem);
    padding: 2rem;
    margin: 1rem;
    position: relative;
    transition: all 0.5s;
    
    img {
        @include sizes(10rem,12rem);
        display: block;
        margin: 0 auto;
        padding: 20px 20px;
        border: solid 2px grey;
        transition: all 0.5s;
    }

    &:hover  {
        height: 34rem;
        img {
            @include sizes(10.5rem,14rem);
            
        }
    }
    
}
/*fin de marco e imagenes de los juegos */

/* animaciones */
.inputA {
    @include sizes(14rem,2rem);
    transition: height 0.5s, width 0.5s;

    &:hover {
        @include sizes(15rem,2rem);
    }
}

.textAni {
    @include sizes(14rem,10rem);
    transition: height 0.5s, width 0.5s;

    &:hover {
        @include sizes(15rem,15rem);
    }
}

.bottom {
    @include sizes(10rem,2rem);
    transition:all 0.5s;
    &:hover {
        @include sizes(12rem,3rem);
    }
}

.dropdown-item1 {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.subMenu {
    a {
        padding: 5px;
        border-top:solid 2px $color;
        border-left: none; 
    }
}
.borderBottom {
    border-bottom: solid 2px rgb(223, 186, 66);
}

@media screen and (min-width:600px) {
    .card1 {
        @include sizes(27rem,30rem);
        padding: 2rem;
        margin: 1rem;
        position: relative;
        transition: all 0.5s;
        
        img {
            @include sizes(13rem,15rem);
            display: block;
            margin: 0 auto;
            padding: 20px 20px;
            border: solid 2px grey;
            transition: all 0.5s;
        }
    
        &:hover  {
            height: 33rem;
            img {
                @include sizes(15rem,17rem);
                
            }
        }
        
    }
}

@media screen and (min-width:1024px) {
/* modificaciones del menu */
    .navColor {
        border: none;

        li {
            border-bottom: none;
            border-left:solid 2px $color ;
        }

    }
    .navEnd {
        border-right:solid 2px $color;
    }
    .flechaImg {
        width: 50px;
    }
    
/* fin del menu */
.tabla {
    margin: 10px;
}

    /* marco e imagenes de los juegos */
    
    .card1 {
        background-color: rgb(0, 0, 0);
        @include sizes(20rem,30rem);
        padding: 10px;
        margin: 20px;
        position: relative;
        border: solid 2px $color;
        transition: all 0.5s;

        img {
            @include sizes(12rem,15rem);
            display: block;
            margin: 0 auto;
            padding: 20px 20px;
            border: solid 2px grey;
            transition: all 0.5s;
        }

        &:hover  {
            @include sizes(23rem,35rem);


            img {
                @include sizes(14rem,17rem);
            }
        }
        
    }
/*fin de marco e imagenes de los juegos */    

/* animaciones */
    .imag_Contenedor {
        height: 12rem;
        text-align: center;
        img {
            @include sizes(30rem,17rem)
        }
    }
    
    .imag_Contenedor1 {
        height: 35rem;
        text-align: center;
        img {
            @include sizes(23rem,33rem);
            margin: 30px;
        }
    }
    .imag_Contenedor2 {
        text-align: center;
        img {
            @include sizes(10rem,14rem);
            margin: 10px;
        }
    }
}